@import url('demo.css');

@font-face {
	font-family: 'entypo-selected';
	src: url("../font/entypo-selected.eot");
	src: 
		url("../font/entypo-selected.eot?#iefix") format('embedded-opentype'), 
		url("../font/entypo-selected.woff") format('woff'), 
		url("../font/entypo-selected.ttf") format('truetype'), 
		url("../font/entypo-selected.svg#entypo-selected") format('svg');
	font-weight: normal;
	font-style: normal;
  }
/* Common styles for all menus */
.menu {
	line-height: 1;
	margin: 0 auto 3em;
}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn_group{
	float: right;
	margin-bottom: 20px;
	margin-top: -40px;
	font-size: small;
	cursor: pointer;
	
}

.btn_group > button{
	border: 0.5px solid darkgray;
	background-color: rgba(0, 0, 0, 0);
	color: rgb(66, 68, 70);
	padding: 5px;
	border: none;	
	cursor: pointer;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.btn_group > button:hover{
	color: #d94f5c;
	
}

.btn_1{
	margin-right: -3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.btn_2{
	margin-left: -3px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}


/* Prospero */
.menu--prospero .menu__link {

	position: relative;
	display: block;
	margin: 0 1.5em;
	padding: 0.75em 0;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--prospero .menu__link:hover,
.menu--prospero .menu__link:focus {
	color: #929292;
}

.menu--prospero .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--prospero .menu__link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #d94f5c;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
}

.menu--prospero .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}



/* End: tantalid Styles */

/* YOUR STYLE (Shakespeare character name) see README.md for details */
/* (Please copy these two lines and insert after your custom styles) */


/* Name (by @you) */

/* [Your styles here]*/

/* End: Name Styles */


/* Media queries */

/* Stack items for smaller screens */
@media screen and (max-width:55em) {
	.menu__list {
		display: block;
		margin: 0 auto;
	}
}
